@mixin padding-x($value) {
	padding-right: $value;
	padding-left: $value;
}

@mixin padding-y($value) {
	padding-top: $value;
	padding-bottom: $value;
}

@mixin margin-y($value) {
	margin-top: $value;
	margin-bottom: $value;
}

@mixin margin-y($value) {
	margin-top: $value;
	margin-bottom: $value;
}
