// #(?:[0-9a-fA-F]{3}){1,2}

// Colors
// Alt for dark/light variants
$primary: #CB5857; // Priamry brand color
$green: #4c9d49;
$red: #c52e1c;

// Backgrounds
$background: linear-gradient(
  178.2deg,
  rgba(118, 8, 23, 1) 10.9%,
  rgba(158, 12, 33, 1) 62.6%
);
$background--secondary: #EAEAEA;
$background--tertiary: #EDEDED;

// Text colour - used on body (default)
$text: #3a3a3a;
$text--inverted: #dadada;
$text--secondary: #555;
